* {
  background-image: url("./public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  min-height: 100vh;
}

.form-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* .btn {
  background: skyblue;
} */

#loginLink {
  color: blue;
  cursor: pointer;
}
